body {
    font-size: 20px;
    background-color: white;
}

.grid-item {
    border: 1px black solid;
}

header {
    height: 55px;
    background: black;
    color: white;
}

nav * {
    float: left;
    width: 10%;
    color: white;
    display: block;

}

nav ul {
    width: 50%;
}

nav form input {
    width: 100%;
}

.top-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.grid-item-2 {
    background-color: yellow;
    grid-area: section-one;


}
.grid-item-3 {
    background-color: yellowgreen;
    grid-area: section-two;

}
.grid-item-4 {
    background-color: blueviolet;
    grid-area: section-three;


}
.grid-item-5 {
    background-color: purple;
    grid-area: section-four;
}

.grid-item-6 {
    background-color: pink;
    grid-area: section-five;
}

.grid-container-1 {
    display: grid;
    /* array: %,px, fr (of the screen)*/
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 150px 150px;
    row-gap: 20px;
    column-gap: 20px;
    grid-template-areas: 
"section-one section-two section-three"
"section-one section-four section-five"
    ;
}

.grid-item-7 {
    background-color: lightblue;
    grid-area: section-seven;
}

.grid-item-8 {
    background-color: lavender;
    grid-area: section-eight;
}

.grid-item-9 {
    background-color: lightgreen;
    grid-area: section-nine;
}

.grid-item-10 {
    grid-area: section-ten;
}

.grid-item-11 {
    grid-area: section-eleven;
}

.grid-item-12 {
    grid-area: section-twelve;
}

.grid-container-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 200px;
    row-gap: 0px;
    column-gap: 20px;
    grid-template-areas: 
"section-seven section-eight section-nine"
"section-ten section-eleven section-twelve"
    ;
}

h2 {
    font-size: 22px;
}

span {
    font-size: 16px;
}