/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

picture {
  width: 100%;
  height: 50%;
  background-color: blue;
}

.grid-item-1 {
  background-color: yellow;
  grid-area: section-one;
  height: 100%;
}

.grid-item-2 {
  background-color: cyan;
  grid-area: section-two;
}

.grid-item-3 {
  background-color: lightblue;
  grid-area: section-three;
}

.grid-container-1 {
  display: grid;
  grid-template-columns: 2fr 8fr 4fr;
  grid-template-areas: 
"section-one section-two section-three"
    ;
}

.grid-container-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
"section-four section-five"
    ;
}
