/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* The clearfix, for those unaware, is a CSS hack 
that solves a persistent bug that occurs when two 
floated elements are stacked next to each other. 
When elements are aligned this way, the parent 
container ends up with a height of 0, and it can 
easily wreak havoc on a layout. Solution is to 
assign the clearfix class*/

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/



/******************************************
/* LAYOUT
/*******************************************/


html {
  font-size: 62,5%;
}

body {
  font-size: 20px;
  background-color: cyan;
}

.picture {
  width: 100%;
  height: auto;
}
li {
  margin: 10px 10px 10px 20px;
}

nav {
  font-size: 20px;
}

.header-content {
  margin: 20px 0px 20px 0px;
}

.grid-item-1 {
  grid-area: section-one;
}

.grid-item-2 {
  grid-area: section-two;
  margin: 20px 20px 20px 20px;
  background-color: white;
}

.grid-item-3 {
  grid-area: section-three;
  margin: 20px 20px 20px 20px;
  font-size: 1rem;
}

.grid-container-1 {
  font-size: 1rem;
  display: grid;
  grid-template-columns: 2fr 8fr 4fr;
  grid-template-areas: 
"section-one section-two section-three"
    ;
}

.grid-container-2 {
  font-size: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
"section-four section-five"
    ;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media all and (max-width:500px){
  .grid-container-1 {
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
  "section-one"
  "section-two"
  "section-three"
      ;
  }
}